.my-navbar {
  font-size: 1.5rem;
  background-color: rgb(233, 250, 244);
}

.navlink:hover {
  display: block;
  width: 100%;
  color: darkcyan;
  border: 1px solid darkcyan;
}

/* .top-menu a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: darkcyan;
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}

.top-menu a:hover::after {
  color: darkcyan;
  transform: scale(1);
} */

.navbar-button {
  color: darkcyan;
}

.navbar-button:hover {
  background-color: rgb(202, 248, 232);
}

@media (max-width: 992px) {
  .navlink:hover {
    width: 30%;
  }
}
