.todoFormContainer {
  margin-bottom: 20px;
}

.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoFormContainer input {
  width: 200%;
  height: 50px;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.todoFormContainer button {
  width: 40%;
  height: 50px;
  font-size: 1.5rem;
  padding: 7px 10px 10px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}

button:hover {
  background-color: rgb(240, 240, 155);
}

@media (max-width: 992px) {
  .todoFormContainer input {
    width: 150%;
    height: 40px;
    font-size: 1.2rem;
  }
  .todoFormContainer button {
    width: 40%;
    height: 40px;
    font-size: 1.2rem;
    padding: 5px 10px 10px 10px;
  }
}
