.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;

  a {
    color: darkcyan;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }

  .title {
    font-weight: 700;
    color: darkcyan;
  }

  .my-navbar {
    font-size: 1.5rem;
    background-color: rgb(233, 250, 244);

    .navbar-button {
      color: darkcyan;
    }

    .navlink {
      text-decoration: none;
      margin: 0 1rem;
    }

    .logo {
      width: 60px;
    }

    .navlink:hover {
      display: block;
      width: 100%;
      color: darkcyan;
      border: 1px solid darkcyan;
    }

    .navbar-button:hover {
      background-color: rgb(202, 248, 232);
    }

    @media (max-width: 992px) {
      .navlink:hover {
        width: 21%;
      }

      .logo {
        width: 40px;
        margin: 1rem;
      }

      .nav-home {
        margin: 0 1rem;
      }
    }
  }

  .my-footer {
    margin-top: auto;
    background-color: rgb(233, 250, 244);

    .footer-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      text-decoration: none;
    }

    .icon {
      width: 30px;
      height: 30px;
    }

    .container-item {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .flex-img {
      text-align: center;
      .home-img {
        width: 30%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        padding: 0.6rem;
      }
    }
    .flex-header {
      text-align: center;
      .my-name {
        color: darkcyan;
      }
    }
    .flex-main {
      text-align: center;
    }
  }

  .contacts-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    margin-top: 1rem;

    .contacts-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25rem;
      margin-top: 1rem;
    }

    li {
      list-style: none;
    }

    @media (max-width: 992px) {
      .contacts-item {
        width: 18rem;
      }
    }
  }

  .links-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    margin-top: 1rem;

    .my-site {
      width: 25rem;
      margin: 1rem 0;
      padding: 0.5rem;
    }
    ul li {
      list-style: none;
    }

    @media (max-width: 992px) {
      .my-site {
        width: 18rem;
      }
    }
  }

  .project-page {
    text-align: center;
  }
}
